body {
    background-color: black;
    color: white;
}



#fortunepng {
    display: block;
    margin: auto;
    width: 75%;
    max-width: 600px;

}

 
#answers {
    display: block;
}



#ball {
    display: block;
    visibility: hidden;
    width: 400px;
    padding-left: 500px;
    margin-bottom: -270px;
    margin-top: -80px;
    cursor: pointer;
    
}

#ball:hover {
    animation: bounce 2s ease infinite;
  }
  
  
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }
  
#form {
    display: block;
    margin-left: 480px;
    padding-top: 400px;
    padding-bottom: 50px;
}

#questionbox {
    display: inline;
    width: 35%;
    height: 40px;
    color: white;
    font-size: 20px;
    font-family: Bebas Neue;
    background: transparent;
    border: 1px solid #C5BEE5;
}

label,
input {
    display: flex;
    flex-direction: column;
    font-family: helvetica;
    font-size: 14px;
    font-family: Bebas Neue;
    letter-spacing: 2px;
    color: silver;
}

#askbtn {
    display: inline-block;
    width: 11%;
    margin-left: 30px;
    padding: 9px;
    font-size: 19px;
    font-family: Bebas Neue;
    color: black;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 15px;
    border-color: transparent;
    background-image: linear-gradient(to right, #C5BEE5 0%, #B6DCD6 60%, #C5BEE5 100%);
    transition: 0.5s;
    background-size: 200% auto;
    cursor: pointer;
}

#askbtn:hover {
    background-position: right center;
    color: black;
    text-decoration: none;
}

#showquestion {
    visibility: hidden;
    display: block;
    color: #C5BEE5;
    font-size: 25px;
    text-align: center;
    width: 50%;
    font-family: Bebas Neue;
    background: transparent;
    margin-top: -150px;
    margin-left: 325px;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
    #fortunepng {
      width: 100%;
    }
    
    #form {
      display: block;
      width: 50%;
      margin: auto;
      
  }
  
  #questionbox {
      width: 250px;
      height: 40px;
      margin-bottom: 20px;
      margin-left: -35px;
      font-size: 16px;
  }
    
    #askbtn {
      display: block;
      width: 50%;
      margin: auto;
    }
    
    #showquestion {
      margin: auto;
      margin-top: -250px;
      width: 100%;
      font-size: 16px;
      
    }
  
    #ball {
      margin: auto;
      width: 300px;
      padding-left: 0px;
      padding-bottom: 0px;
      margin-bottom: -200px;
  }
    
  }